#world {
    width: 640px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    top: 20px;
    border-style: solid;
    border-color: grey;
}
#player {
    width: 24px;
    height: 8px;
    background-color: lightblue;
}
.cell {
    width: 8px;
    height: 8px;
}
.cell.red {
    background-color: red;
}
.cell.blue {
    background-color: lightblue;
}
.cell.dead {
    background-color: black;
}