#world {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    top: 20px;
    border-style: solid;
    border-color: grey;
}
#player {
    width: 50px;
    height: 10px;
    background-color: lightblue;
}
.cell {
    width: 10px;
    height: 10px;
}
.cell.red {
    background-color: red;
}
.cell.blue {
    background-color: lightblue;
}
.cell.dead {
    background-color: black;
}