body {
    font-family: Courier, monospace;
    text-align: center;
}

#header {
    top: 10px;
    position: relative;
    font-size: 50px;
}

#canvas {
    width: 600px;
    height: 600px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-style: solid;
    border-color: grey;
}